.breadcrumb {
    font-weight: bolder;
}

/*****Media Queries*****/

/*********800px rule*********/
@media screen and (min-width: 800px) {
    .main {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }

    .section-blog-page {
        background-color: #fff;
        width: 80%;
        /*display: flexbox;*/
        display: flex;
        text-align: left;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 25px;
        margin: 0 auto;
    }

    .post {
        font-size: 45px;
        font-weight: bolder;
        text-align: left;
        margin-bottom: 0px;
        color: #303337;
    }
}

/*********1000px rule*********/
@media screen and (max-width: 1000px) {
    .main {
        text-align: left;
        width: 95%;
        margin: 0 auto;
    }

    .section-blog-page {
        background-color: #fff;
        width: 80%;
        display: inline-block;
        text-align: left;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 25px;
        margin: 0 auto;
    }

    .post {
        font-size: 45px;
        font-weight: bolder;
        text-align: left;
        color: #303337;
    }
}

/*********1200px rule*********/
@media screen and (min-width: 1200px) {
    .main {
        text-align: left;
        width: 95%;
        margin: 0 auto;
    }

    .section-blog-page {
        background-color: #fff;
        width: 80%;
        display: inline-block;
        text-align: left;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 25px;
        margin: 0 auto;
    }

    .post {
        font-size: 45px;
        font-weight: bolder;
        text-align: left;
        color: #303337;
    }

}